@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: transparent;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background: black;
}

header h1 {
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.grid-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 950px;
  margin: 0px auto;
  padding: 20px;
  background: transparent;
  backdrop-filter: blur(25px);
  height: 100vh;
  text-align: center;
}

.contenido-text {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
  width: 100%;
  max-width: 850px;
}

.grid-container h1 {
  font-size: 24px;
}

.responsive-iframe {
  width: 100%;
  max-width: 850px;
  height: 700px;
  aspect-ratio: 16 / 9;
  border: 0;
  border-radius: 10px;
  margin-top: 20px;
}

@media (max-width: 764px) {
  header {
    height: 65px;
  }

  header h1 {
    font-size: 20px;
  }

  .grid-container {
    padding: 15px;
    gap: 15px;
  }

  .contenido-text {
    padding: 15px;
  }

  .grid-container h1 {
    font-size: 18px;
  }

  .responsive-iframe {
    aspect-ratio: 4 / 3;
  }
}
